@model IEnumerable<sdp.Models.OrderDetail>

@{
    ViewData["Title"] = "My Order";
}

<h1>My Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                Price(each)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.OrderPlaced)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderPlaced)
            </td>



        </tr>
}
    </tbody>
</table>
