@model sdp2.Models.Comments

@{
    ViewData["Title"] = "ShowComment";
}

<h1>ShowComment</h1>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>
    </dl>
</div>
